.heroWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 46px 0;
        justify-content: center;
    @media screen and (max-width: 767px){
        gap: 24px
    }
    .heroSection {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .title {
            font-size: 3.5em;
            line-height: 1.2;
            color: var(--gray-800);
        }

        .description {
            font-size: 1.2em;
            color: var(--gray-600);
        }
    }



    .subtitle {
        display: flex;
        width: max-content;
        padding: 0.2em 1em;
        background: var(--blue-50);
        border-radius: 24px;

        small {
            font-size: 1em;
            font-weight: 600;
            color: var(--primary);
            display: flex;
        }
    }

    .offers {
        display: flex;
        list-style: none;
        gap: 12px;
        margin-top: 24px;
        flex-wrap: wrap;

        li {
            display: flex;
            gap: 8px;
            align-items: center;
            font-size: 1em;
            color: var(--gray-600);

            svg {
                color: var(--green-500);
                display: flex;
                font-size: 1.4em;
            }

            span {
                font-weight: 600;
            }
        }
    }
}